@import "tailwindcss";

.cl-avatarBox{
    width: 2.5rem;
    height: 2.5rem;
}

.arrow {
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  background: #f53347;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}
.slick-prev,
.slick-next {
  display: block !important;
  z-index: 50;
}


